[bumpversion]
current_version = 1.0
commit = true
tag = true
tag_name = {new_version}

[bumpversion:file:setup.py]

[bumpversion:file:docs/conf.py]

[bumpversion:file:src/django_postcode_lookup/__init__.py]

